<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
    <th:block th:replace="parts/fragments.html :: styless">

    </th:block>
</head>
<body>
<div th:replace="parts/navbar.html::navbar"></div>
<div class="container mx-2">
<h1>Hello, guest !</h1>
<div th:replace="parts/fragments.html :: scripts"></div>
<p>This is a simple clone of twitter</p>
    <a sec:authorize="!isAuthenticated()" class="btn btn-primary" href="/login" role="button">Login</a>
</div>
</body>
</html>