<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login page </title>
  <th:block th:replace="parts/fragments.html :: styless">
  </th:block>
</head>
<body>
<div th:replace="parts/fragments.html :: scripts"></div>
<div th:replace="parts/navbar.html::navbar"></div>
<div class="container d-flex justify-content-center align-items-center">
  <form th:action="@{/login}" th:method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="mb-3">
      <h2 class="mb-5">Login</h2>
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="text my-3" style="color:red" th:if="${param.logout}">
      You have been logged out.
    </div>
    <div class="text my-3" style="color: red" th:if="${param.error}">
      Invalid username and password.
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn btn-outline-primary" href="/registration" role="button">Register!</a>
  </form>
</div>
</body>
</html>