<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link th:href="@{/static/style.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<span><a href="/users">User list</a></span>
<form th:method="POST" th:object="${message}" th:action="@{/main}" enctype="multipart/form-data">

    <label for="text">Введите текст :</label>
    <input type="text" th:field="*{text}" id="text">
    <br/>
    <br/>
    <label for="tag">Введите тэг :</label>
    <input type="text" th:field="*{tag}" id="tag">
    <br/>
    <label for="file">Upload file:</label>
    <input type="file" name="file" id="file" accept="image/png, image/jpeg">
    <br/>

    <input type="submit" value="POST!">
</form>
<form th:method="GET" th:action="@{/main}">
    <label for="filter">Filter :</label>
    <input type="text" id="filter" name="filter">
    <input value="Filter!" type="submit">
</form>

<div th:if="${!messages.isEmpty()}">
    <h3>Список сообщений :</h3>
    <div th:each="message : ${messages}">
        <span th:text="${message.getId() + ',' + message.getTag()+','+ message.getText()}"></span>
        <strong th:text="${message.getAuthorName()}"></strong>
        <br>
        <img th:src="${message.getPhotosImagePath()}">
    </div>



</div>
<div th:if="${messages.isEmpty()}">
    <p>Nothing was found</p>
</div>


</body>
</html>