<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <th:block th:replace="parts/fragments.html :: styless">
    </th:block>
   </head>
<body>
<div th:replace="parts/fragments.html :: scripts"></div>
<div th:replace="parts/navbar.html::navbar"></div>
<div class="container mx-8">
    <br>
<form class="row g-3" th:method="GET" th:action="@{/main}">
    <div class="col-auto">
        <input type="text" class="form-control" id="filter" placeholder="Search by tag" name="filter" >
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Filter</button>
    </div>
</form>
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Add new message
        </a>
    </p>
    <div th:class="'collapse' + ${messageText!= null || messageTag!= null ? 'show' : ''}" id="collapseExample">
        <div class="form-group  mt-2">
            <form th:method="POST" th:object="${message}" th:action="@{/main}" enctype="multipart/form-data">
                <div class="form-group my-3">
                    <input th:class="'form-control '+${#fields.hasErrors('text') ? 'is-invalid' : ''}" type="text" th:value="${messageText!= null? 'messageText':''}" th:field="*{text}" id="text" placeholder="Введите сообщение" aria-describedby="validationServer01Feedback">
                    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" id="validationServer01Feedback" class="invalid-feedback">Error</div>
                </div>
                <div class="form-group my-3">
                    <input th:class="'form-control '+${#fields.hasErrors('tag') ? 'is-invalid' : ''}" type="text" th:value="${messageTag!= null? 'messageTag':''}" th:field="*{tag}" id="tag" placeholder="Тэг">
                    <div th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}" id="validationServer02Feedback" class="invalid-feedback">Error</div>
                </div>
                <div class="my-3">
                    <input class="form-control" type="file" id="formFile" name="file" accept="image/png, image/jpeg">
                </div>
                <input type="submit" value="Добавить" class="btn btn-primary my-3">
            </form>
        </div>
    </div>



    <div th:if="${!messages.isEmpty()}">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="message : ${messages}">
                <div class="card h-100 mx-3">
                    <img th:src="${message.getPhotosImagePath()}">
                    <div class="card-body">
                    <span th:text="${message.getTag()+','+ message.getText()}"></span>
                    </div>
                    <div class="card-footer">
                        <a th:text="*{message.authorName}" th:href="@{/user-messages/{id}(id = ${message.getAuthor().getId()})}">Author</a>
                        <a th:if="${message.getAuthor().getId() == #authentication.principal.id}" th:href="@{'/my-Messages/edit/'+${message.getId()}}" class="btn btn-primary">Edit</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
<div th:if="${messages.isEmpty()}">
    <p>Nothing was found</p>
</div>

</div>
</body>
</html>