<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<span><a href="/users">User list</a></span>
<form th:method="POST" th:object="${message}" th:action="@{/main}">

    <label for="text">Введите текст :</label>
    <input type="text" th:field="*{text}" id="text">
    <br/>
    <br/>
    <label for="tag">Введите тэг :</label>
    <input type="text" th:field="*{tag}" id="tag">
    <br/>
    <br/>

    <input type="submit" value="POST!">
</form>
<form th:method="GET" th:action="@{/main}">
    <label for="filter">Filter :</label>
    <input type="text" id="filter" name="filter">
    <input value="Filter!" type="submit">
</form>

<div th:if="${!messages.isEmpty()}">
    <h3>Список сообщений :</h3>
    <div th:each="message : ${messages}">
        <span th:text="${message.getId() + ',' + message.getTag()+','+ message.getText()}"></span>
        <strong th:text="${message.getAuthorName()}"></strong>
    </div>
</div>
<div th:if="${messages.isEmpty()}">
    <p>Nothing was found</p>
</div>


</body>
</html>